<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true" name="config" packages="me.theentropyshard.pita">
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Console name="STDOUT">
            <Layout type="PatternLayout" pattern="%d %p %c [%t] - %m%n"/>
        </Console>

        <RollingFile
                name="rollingFile"
                fileName="${sys:logPath}/Pita.log"
                filePattern="${sys:logPath}/$${date:yyyy-MM}/Pita-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c [%t] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>